layout {

    focus-ring {
        active-color   "#dcc399"
        inactive-color "#151310"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#dcc399"
        inactive-color "#151310"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#dcc399"
        inactive-color "#a7916a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#dcc39980"
    }
}

recent-windows {
    highlight {
        active-color "#dcc399"
        urgent-color "#ffb4ab"
    }
}
