layout {

    focus-ring {
        active-color   "#fbf1c7"
        inactive-color "#282828"
        urgent-color   "#fb4934"
    }

    border {
        active-color   "#fbf1c7"
        inactive-color "#282828"
        urgent-color   "#fb4934"
    }

    shadow {
        color "#28282870"
    }

    tab-indicator {
        active-color   "#fbf1c7"
        inactive-color "#ffd111"
        urgent-color   "#fb4934"
    }

    insert-hint {
        color "#fbf1c780"
    }
}

recent-windows {
    highlight {
        active-color "#fbf1c7"
        urgent-color "#fb4934"
    }
}
